/autoload
/benchmarks
/bin
/cronjobs
/design
/doc
/extension
/kernel
/lib
/schemas
/settings/*.ini
/settings/siteaccess/admin
/share
/support
/templates
/tests
/update
/var

/access.php
/autoload.php
/config.php
/config.php-RECOMMENDED
/ezpm.php
/ezpublish.cron
/index_image_dfsmysql.php
/index_image_dfsmysqli.php
/index_image_mysql.php
/index_image_mysqli.php
/index_image.php
/index_rest.php
/index_treemenu.php
/index.php
/kickstart.ini-dist
/pre_check.php
/robots.txt
/runcronjobs.php
/soap.php
/webdav.php
/LICENSE
/README.txt
/.htaccess_root

/.buildpath
/.project
/.settings

*.DS_Store
*.php~
*.bak
.svn
/nbproject/private/
